$black : #282828;
$white : #ffffff;

$grey : rgba(58, 58, 58, 0.58);

$purple : rgb(154,69,218);
$purple_light : rgb(164,88,219);
$purple_old : #7D4ffC;

$pink : #FF7DDD;
$green : #2EBE5D;
$red : #FF4747;
$blue : #27C2EA;
$orange : #FFA500;

$dark : #26242F;
$light : #F4F5E6;

$main : rgba(255,255,255,0.1);

$gradient : linear-gradient(left, rgb(80,103,255), rgb(164,43,255));